/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700;900&display=swap');
$font-stack: 'Mulish', Arial, Helvetica, sans-serif;

/* Colors*/
$brand: orange;
$bg: #f1f1f1;
$body-copy: #333;

/* Media queries mixin */
@mixin breakpoint($point) {
   @if $point == papa-bear {
      @media (max-width: 1600px) { @content; }
   }
}


/* Base stuff */
body {
   background-color: $bg;
}

.site-header {
   background-color: #314570;
   border-bottom: 5px solid lighten(#314570, 25);
   color: lighten(#314570, 50);
}

.site-footer {
   border-top: 1px dotted darken($color: $bg, $amount: 25);
   background-color: darken($color: $bg, $amount: 5);
}