// Colors
$brand: orange;
$bg: #f2f2f2;
$body-copy: #222222;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700;900&display=swap');
$font-stack: 'Mulish', Arial, Helvetica, sans-serif;

body {
   font-family: $font-stack;
   color: $body-copy;
   background-color: $bg;
}